/*header*/
header {
  color: var(--off-color);
}

header a,
header h2 {
  display: inline-block;
  margin-right: 10px;
}

/* login */
.loginBox {
  width: 20%;
  height: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.loginBox h2 {
  margin-left: 5px;
  font-size: 18pt;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 30px;
  border: var(--off-color) 1px solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.loginForm input {
  padding: 15px 10px;
  border-style: none;
  border-bottom-style: solid;
}

.loginForm input:focus {
  outline: none;
  border-color: var(--on-color);
}

.loginBtnBox {
  width: 50%;
  margin: auto;
  padding: 30px 20px;
}

.loginBtnBox button {
  width: 100%;
  padding: 10px;
}

.linkBox {
  margin: 0 auto;
}

/* record */
main {
  width: 100%;
}

.recordWrap {
  width: 80%;
  margin: auto;
}

.recordBox {
  width: 40%;
  margin: auto;
  padding: 30px;
}

.recordForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.recordForm label {
  display: block;
  padding: 10px 0;
  font-size: 12pt;
  color: var(--off-color);
}

.btnBox {
  width: 100%;
  text-align: end;
  padding: 10px 0;
}

.author,
.recordBtn {
  padding: 5px 10px;
}

.author {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.author::placeholder {
  color:rgb(255, 255, 255);
}

.author:focus {
  outline: none;
}

/*list*/
.emptyMsg {
  font-size: 30pt;
  font-style: italic;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 40px;
  opacity: 50%;
  user-select: none;
}

.recordList {
  padding: 30px 0;
  list-style: none;
}

.recordList li {
  background-color: rgba(255,255,255,.6);
  width: 50%;
  padding: 10px 20px 20px 20px;
  margin: 10px auto;
  text-align: justify;
  border-radius: 10px;
}

.recordList span {
  font-size: 10pt;
  margin-right: 10px;
}

.recordList button {
  margin-right: 5px;
}

/* animation */