/* login */

.loginBox {
  width: 20%;
  height: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.loginBox h2 {
  margin-left: 5px;
  font-size: 18pt;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 30px;
  border: var(--off-color) 1px solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.loginForm input {
  padding: 15px 10px;
  border-style: none;
  border-bottom-style: solid;
}

.loginForm input:focus {
  outline: none;
  border-color: var(--on-color);
}

.loginBtnBox {
  width: 50%;
  margin: auto;
  padding: 30px 20px;
}

.loginBtnBox button {
  width: 100%;
  padding: 10px;
  background-color: var(--off-color);
  border-radius: 20px;
  border-style: none;
}

.loginBtnBox button:hover {
  background-color: var(--on-color);
}

.linkBox {
  margin: 0 auto;
}

a:link,
a:visited,
a:focus {
  font-size: 11pt;
  text-decoration: none;
  color: var(--off-color);
}

a:hover {
  color: var(--on-color);
  text-decoration: underline;
}

/* record */
main {
  width: 100%;
}

.recordWrap {
  width: 80%;
  margin: auto;
}

.recordBox {
  width: 40%;
  margin: auto;
  padding: 30px;
}

.recordForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.recordForm label {
  display: block;
  padding: 10px 0;
  font-size: 12pt;
}

.btnBox {
  width: 100%;
  text-align: end;
  padding: 10px 0;
}

.author,
.recordBtn {
  padding: 5px 10px;
}

.author:focus {
  outline: none;
}

.recordBtn {
  background-color: var(--off-color);
  border: none;
  border-radius: 2px;
}

.recordBtn:hover {
  background-color: var(--on-color);
}

/**/

.recordList {
  padding: 30px 0;
  list-style: none;
}

.recordList li {
  background-color: rgba(255,255,255,.6);
  width: 50%;
  padding: 10px 20px;
  margin: 10px auto;
  text-align: justify;
}

.recordList p {
  display: inline-block;
}

/* animation */