
/*
<memo>
백그라운드 색상을 파도가 아주 작게 넘실거리는 느낌으로 움직이게 만들고 싶다.
모든 정보가 작성되면 회원가입 / 로그인 버튼이 활성화되는 것처럼 색상 생기게 하고 싶다.
*/

:root {
  --off-color: rgb(225, 225, 225);
  --on-color: rgb(115, 141, 186);
}


/* 공통css */
.hidden {
  display: none;
}

textarea {
  resize: none;
  width: 100%;
}

textarea:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* index */
header {
  display: flex;
  align-items: center; /*수직중앙정렬*/
  justify-content: space-around;
}


/* 공통 애니메이션 */
/* 아주~ 천천히 백그라운드 컬러 변경*/
